%h1
	.row
		%p
		Wikilicious: Social Markdown Wikis

%br/
.jumbotron
	%h2 Wikilicious: Create and share Markdown Wikis
	=button_to "Sign up", new_user_registration_path, method: :get

.row
	.left.column
		%h2 Create as many public wikis as you want!
		%p Wikilicious makes it easy for you to share your content
	.right.column
		%h2 Create private wikis!
		%p Share special content to share with select readers